{% extends "base.html" %}
{% block title %}Main page{% endblock %}
{% block content %}
<body>
    <section class="container">

        <h4>Laboratory assignment 3 Requirements</h4>
        <ul>
            <li>Make Web application with CRUD (Create, Read, Update Delete + list data) functionality of any kind of entities on any PaaS.</li> 
            <li>Create and update functions should check input of at least 4 different data types.</li>
        </ul>

        <h4>Solution</h4>
        <ul>
            <li>I developed a web application using the MVC architectural pattern and the Flask web framework.</li>
            <li>The application supports creating, editing, viewing, and deleting tasks.</li>
            <li>Four task properties can be modified: title, description, due date, and completion status.</li>
            <li>Data validation rules include: the title and due date cannot be blank, the title must contain non-numeric characters, and the due date cannot be in the past.</li>
            <li>The database layer is implemented using SQLAlchemy ORM.</li>
            <li>The application leverages an API to perform CRUD operations, with API routes also used on the front end.</li>
            <li>The front end is built using the Jinja2 templating engine, without any additional front-end libraries.</li>
            <li>The application was deployed on <a href="https://render.com/">Render</a>, a free-to-use web hosting service.</li>
            <li>The database was hosted on Render's free PostgreSQL service.</li>
        </ul>

        <h4>Author</h4>
        <p>Dominykas Pošiūnas</p>
    </section>
</body>
{% endblock %}